[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/webmonetization"]
	path = themes/webmonetization
	url = git@github.com:sabinebertram/hugo-webmonetization-component.git
