[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/webmonetization"]
	path = themes/webmonetization
	url = git@github.com:sabineschaller/hugo-webmonetization-component.git
[submodule "public"]
	path = public
	url = git@github.com:sabineschaller/sabineschaller.github.io.git
	branch = main
